<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Add Location</title>
		<link
		  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
		  crossorigin="anonymous"
		/>
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #d0bbc9;
			}
			.container {
				margin: 0 auto;
				width: 60%;
			}
			h1 {
				font-size: 36px;
				margin: 10px;
				padding: 10px;
				text-align: center;
				color:  #053c4f;
				font-family: Verdana;
 			}
			h4 {
				text-align: center;
			}
			h4 a {
				text-decoration: none;
				font-family: Verdana;
			}
			.link-text {
				color: #5d2b2b;
			}
		</style>
	</head>
<body>
<div class="container">
	<h1>Edit profile</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<button class="btn btn-primary" type="submit">Make changes</button>
	</form>
	<h4><a href="{% url 'shemsWebapp:profile' %}" class="link-text">Customer profile</a></h4>
</div>
</body>
</html>